{#- this is the jinja template used to create the configuration file
     /etc/salt/minion.d/01_from_bootstrap.conf and .../master.d/...
     -#}
# {{ pillar['salt_managed_message'] }}
# created from template bevy_master/files/01_from_bootstrap.conf.jinja

# these settings are specific to the running Salt master or stand-alone minion

{% set bevy_root = salt['config.get']('bevy_root', '/projects/learn-salt/bevy_srv') %}
id: {{ salt['config.get']('node_name', salt['config.get']('id')) }}
{% set is_master = salt['config.get']('id', '').startswith('bevymaster') %}
{% if is_master %}master: localhost
ipv6: true  # enable IPv6 dual-stack
interface: '::'
{% elif salt['grains.get']('virtual', '') == 'physical' -%}
master: {{ salt['config.get']('bevymaster_external_ip', salt['config.get']('master')) }}
{% else -%}
master: {{ salt['config.get']('bevymaster_vagrant_ip', salt['config.get']('master')) }}
{% endif %}
grains:
  datacenter: bevy
  bevy: {{ salt['config.get']('bevy') }}
  environment: dev
  groups:
    - dynamux

{% if not is_master -%}
  {% if salt['config.get']('run_second_minion', false) -%}
pidfile: /var/run/salt-minion2.pid
pki_dir: /etc/salt/pki/minion2
sock_dir: /var/run/salt-minion2
log_file: /var/log/salt/minion2
  {% endif %}
{% endif -%}
run_second_minion: {{ salt['config.get']('run_second_minion') }}

bevy: {{ salt['config.get']('bevy') }}

my_linux_user: {{ salt['config.get']('my_linux_user') }}

worker_threads: 2  {# sufficient for test systems #}

mine_interval: 5   # this is a test system, so run the mine every five minutes

{% if bevy_root != '' %}
#
# for salt-call --local, and master we need to tell Salt where to find its files
#
file_roots:    # use this directory rather than /srv/salt
  base:
    - /srv/salt         # first, use the normal place (if it exists)
    - /projects/local_salt/salt
    - {{ bevy_root }}/salt
    - /vagrant/bevy_srv/salt
top_file_merging_strategy: same  # do not merge the top.sls file from srv/salt

pillar_roots:  # use this directory rather than /srv/pillar
  base:
    - /vagrant/bevy_srv/pillar
    - {{ bevy_root }}/pillar
    - /projects/local_salt/pillar
    - /srv/pillar
pillar_source_merging_strategy: recurse
{% endif %}
file_ignore_regex:
  - '/\.git($|/)'
#
