{{ pillar['salt_managed_directory'] }}

This directory is not the actual top for the bevy master salt server.

The master configuration file for the salt master contains
a directive to use the directories /bevy_srv/salt and /bevy_srv/pillar
for its top level (and this tree as secondary).

Those diretories will be either a virtual share or a soft link to
the bevy_srv subdirectory of the bevy_master project.  It is maitained
as a git repository and items there are subject to check in.
  
Ephemeral or temporary state information should be placed in this tree.


